# Python Tutorials | Number data types

## If have doubts of what is the type of a variable, use the type() function.

In [2]:
# Integers
var = 1
print("The value is: ",var,"\nThe type is: ",type(var))

The value is:  1
The type is:  <class 'int'>

In [3]:
# Floats
var = 2.1
print("The value is: ",var,"\nThe type is: ",type(var))

The value is:  2.1
The type is:  <class 'float'>

In [4]:
# Characters and Strings are equal, a String.
var = 'a'
print("The value is: ",var,"\nThe type is: ",type(var))

The value is:  a
The type is:  <class 'str'>

In [12]:
# Convert to int, float, string
var = '211e-2'
print("The value is: ",var,"\nThe type is: ",type(var))
var1 = float(var)
print("The value is: ",var1,"\nThe type is: ",type(var1))
var2 = int(var1)
print("The value is: ",var2,"\nThe type is: ",type(var2))

The value is:  211e-2
The type is:  <class 'str'>
The value is:  2.11
The type is:  <class 'float'>
The value is:  2
The type is:  <class 'int'>

In [13]:
# Complex numbers,  c = a + bj

c = 5.2 + 25j
c1 = 63. -2j

print(c, ' + ', c1, ' = ', c+c1)

(5.2+25j)  +  (63-2j)  =  (68.2+23j)

In [15]:
# You can convert a regular number to a complex number

h = 95
print("The value is: ",h,"\nThe type is: ",type(h))
h = complex(h)
print("The value is: ",h,"\nThe type is: ",type(h))

The value is:  95
The type is:  <class 'int'>
The value is:  (95+0j)
The type is:  <class 'complex'>

In [1]:
# The numbers are also objects, so they can perform actions "methods"
print(12.5.as_integer_ratio())

(25, 2)

In [4]:
x = 6.3
x.as_integer_ratio()

(7093169413108531, 1125899906842624)